<div class="mb-4">
    {{ form_row(form.save)}}

    {% if not update %}
        <a href="{{ path('order_sign_choose', {'orderId': orderId}) }}" class="btn btn-outline-secondary w-100 mb-2">
            Retour aux formats de panneaux
        </a>
    {% endif %}

    <a href="{{ path('orders_view', {'id': orderId}) }}" class="btn btn-outline-secondary w-100">
        {% if not update %}
            Retour à la commande
        {% else %}
            Annuler les modifications
        {% endif %}
    </a>
</div>
