{% extends 'core/core.html.twig' %}

{% block content %}
    <a href="{{ path('orders_view', {'id': orderId}) }}" class="btn btn-outline-secondary">Retour à la commande</a>

    <a href="{{ path('order_sign_choose_category', {orderId: orderId}) }}" class="btn btn-outline-secondary">
        Retour aux catégories
    </a>

    <h1 class="h2 text-center text-primary fw-light mt-4 mb-5">Choisissez votre modèle...</h1>

    <div class="row g-4">
        {% for sign in variableSigns %}
            {{ include('order/sign/_choose_item.html.twig', {
                path: path('order_sign_create', {'orderId': orderId, 'signType': sign.type})
            }) }}
        {% endfor %}

        {% for sign in fixedSigns %}
            {{ include('order/sign/_choose_item.html.twig', {
                path: path('fixed_order_sign_create', { orderId: orderId, signId: sign.id })
            }) }}
        {% endfor %}
    </div>
{% endblock %}
