<div id="{{ id }}" class="material-service {{ scale }} {% if class is defined %}{{ class }}{% endif %}">
    <img
        class="material-service-img"
        src="{{ asset('build/images/sign/sign/materialService/material-service-' ~ item1Id ~ '-' ~ item2Id ~ '.svg') }}"
        alt="Cour des matériaux - panneau directionnel"
    >
</div>
