:root {
  --sign-scale: 1.8;
}

.material-algeco {
  &.medium {
    --sign-scale: 1.8;
  }

  &.small {
    --sign-scale: 0.7;
  }

  width: calc(var(--sign-scale) * 50mm);
  height: calc(var(--sign-scale) * 120mm);
  position: relative;
  background-repeat: no-repeat;
  background-size: calc(var(--sign-scale) * 50mm) calc(var(--sign-scale) * 120mm);

  &.dir-l {
    background-image: url("../../images/sign/sign/materialAlgeco/material-algeco-l.svg");
  }

  &.dir-r {
    background-image: url("../../images/sign/sign/materialAlgeco/material-algeco-r.svg");
  }

  .text-container {
    position: absolute;
    top: calc(var(--sign-scale) * 76mm);
    left: calc(var(--sign-scale) * 3mm);
    font-family: Casto;
    font-weight: 900;
    color: #000000;
    font-size: calc(var(--sign-scale) * 15.4pt);
    line-height: calc(var(--sign-scale) * 16pt);
  }
}
