:root {
  --sign-scale: 1.2;
}

.material-dir {
  width: calc(var(--sign-scale) * 105mm);
  height: calc(var(--sign-scale) * 105mm);
  position: relative;

  &.medium {
    --sign-scale: 1.2;
  }

  &.small {
    --sign-scale: 0.3;
  }
}
