:root {
  --sign-scale: 1.2;
}

.material-service {
  width: calc(var(--sign-scale) * 105mm);
  height: calc(var(--sign-scale) * 52.5mm);
  position: relative;

  &.medium {
    --sign-scale: 1.3;
  }

  &.small {
    --sign-scale: 0.6;
  }
}
