.sector {
  &.medium {
    --sign-scale: 1;
  }

  &.small {
    --sign-scale: 0.35;
  }

  width: calc(var(--sign-scale) * 160mm);
  height: calc(var(--sign-scale) * 50mm);
  position: relative;
  background-repeat: no-repeat;
  background-size: calc(var(--sign-scale) * 160mm) calc(var(--sign-scale) * 50mm);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;

  &.grey {
    color: #5B5A5E;
  }

  &.blue {
    color: white;
    background-color: #005CB9;
  }

  .sector-text {
    font-family: Casto;
    font-weight: 800;
    margin-top: calc(var(--sign-scale) * 2mm);
    margin-left: calc(var(--sign-scale) * 5mm);
    margin-right: calc(var(--sign-scale) * 5mm);
    font-size: calc(var(--sign-scale) * 40pt);
    line-height: calc(var(--sign-scale) * 40pt);
    text-align: center;
    vertical-align: baseline;
  }
}
