/*
    App global styles
*/

/* Main app container */
.app-core-container {
  max-width: 1120px;
}

/* links */
a:link, a:visited {
  text-decoration: none;
}

/* textarea */
textarea {
  resize: none;
}

/* datatable */
.sort:hover {
  cursor: pointer;
}

.table .data-list-item:hover {
  cursor: pointer;
  color: $primary;
}
