<div id="{{ id }}" class="material-dir {{ scale }} {% if class is defined %}{{ class }}{% endif %}">
    <img
        class="material-dir-img"
        src="{{ asset('build/images/sign/sign/materialDir/material-dir-bg-' ~ title ~ '-' ~ direction ~ '.svg') }}"
        alt="Cour des matériaux - panneau directionnel"
    >
</div>
