{% if variableOrderSigns is empty and fixedOrderSigns is empty %}
    <div class="alert alert-info lead text-center my-5" role="alert">
        Cette commande ne contient aucun panneau pour l'instant.
    </div>
{% else %}
    <div class="accordion mb-5" id="aisleAccordion">
        {% for collection in variableOrderSigns %}
            {{ include('order/_view_signs_accordion.html.twig', {
                type: 'variable',
                itemIndex: 'variable' ~ collection.sign.id,
                categoryLabel: collection.sign.typeLabel,
                signs: collection.items
            }) }}
        {% endfor %}

        {% for fixedOrderSign in fixedOrderSigns %}
            {{ include('order/_view_signs_accordion.html.twig', {
                type: 'fixed',
                itemIndex: 'fixed' ~ fixedOrderSign.fixedSign.id,
                categoryLabel: fixedOrderSign.fixedSign.typeLabel,
                sign: fixedOrderSign
            }) }}
        {% endfor %}
    </div>
{% endif %}
