{% if signs is empty %}
    <div class="alert alert-info lead text-center my-5" role="alert">
        Cette commande ne contient aucun panneau pour l'instant.
    </div>
{% else %}
    {% for categoryCollection in signs %}
        <h3 class="h4 ms-3">{{ categoryCollection.category.label }}</h3>

        <div class="accordion mb-5" id="aisleAccordion">
            {% for collection in categoryCollection.collections %}
                {{ include('order/_view_signs_accordion.html.twig', {
                    sign: collection.sign,
                    variable: collection.sign.isVariable,
                    itemIndex: collection.sign.id,
                    categoryLabel: collection.sign.title,
                    items: collection.items,
                }) }}
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
